<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kysymyslomake</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Kysymys</h1>

	<form action="#" th:action="@{/newquestion}"  th:object= ${question} method="post">
	<p>Kysymys: <input type="text" th:field="${question.title}" /></p>

	
	<label>Kysymyksen tyyppi:</label>
	<select th:field="${question.type}">
			<option value="avoin">Avoin</option>
			<option value="drop-down">Drop-down</option>
			<option value="radio">Radio</option>
		</select>
	<br></br>
	<input type="submit" value="Lähetä" /> <input type="reset" value="Tyhjennä" />
	</form>
    
</body>
</html>