<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kysymyslomake</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Muokkaa kysymystä</h1>

	<form action="#" th:action="@{/editquestion}"  th:object= ${question} method="post">
	<input type="hidden" th:field= "*{qid}" class="form-control"/>
	<p>Kysymys: <input type="text" th:field="${question.title}" /></p>
		<label>Kysymyksen tyyppi:</label>
	<select th:field="${question.type}">
			<option value="avoin">Avoin</option>
			<option value="drop-down">Drop-down</option>
			<option value="radio">Radio</option>
		</select>
	<br></br>
	<input type="submit" value="Tallenna" />
	</form>
    

</body>
</html>